/* 
    Created on : Nov 1, 2017, 1:18:27 PM
    Author     : profnagy
*/

body {
    font-size:18px;
    background-color: lightblue;
    color: darkblue;
    border: 7px solid blueviolet;
    border-radius: 7px;
}

#localtime_tick {
    font-size:26px;
    background-color: lightblue;
    color: darkblue;    
}

.field_lbl {
    font-size:26px;
    background-color: lightblue;
    color: black;    
    position: relative;
    top: 0px;
    left: 2px;
}

.field_txt,
.field_lbl {
    font-size:26px;
    background-color: white;    
}

.field_ro,
.field_txt {
    font-size:26px;
    background-color: lightgray;
}

.field_lbl_ro,
.field_ro {
    font-size:26px;
    background-color: lightblue;    
}

.menu {
    font-size:26px;
    background-color: lightblue;
    color: darkblue;
}

.logo {
    font-size:18px; 
    background-color: lightblue;
    color: darkblue;
}

.boxborder {
    border: 1px solid lightblue;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

.buttonmedium {
    font-size:18px;
    text-align: center; 
    border: 1px solid lightblue;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonlike {
    font-size:18px;
    text-align: center; 
    border: 1px solid lightblue;
    background-color: gray;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
}

.notebox {
    font-size:26px;
    background: white;
    border: 1px solid lightblue;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
}


.notebox_ro,
.notebox {
    background: lightgray;
}

.qnum {
    text-align: center; 
    border: 0px solid lightblue;
    background-color: lightgray;
    color: black;
    width: 320px;
    height: 25px;
    border-radius: 7px;
}

.buttonbig {
    font-size:18px;
    text-align: left; 
    border: 1px solid lightblue;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.smallprint {
    font-size:12px;
    text-align: center;
}

.mediumprint {
    font-size:16px;
}

.errorprint {
    font-size:16px;
    text-align: center;
    color:red;
}

.quoteprint {
    width:400px;
    color: black;
    background-color:lightgrey;
}
